# Block folders that MCP generates 
jars/
logs/
reobf/
temp/
src/
bin/

# Allow server.properties
!jars/server.properties

# Block compiled Python
*.pyc

# Block downloaded files
runtime/bin/pypy*
!runtime/bin/

# Block .idea folder
.idea/

# Block python runtime.
runtime/bin/python/

# Block command file.
runtime/command

# Block scripts in the root folder except setup.*
*.bat
!setup.bat
*.sh
!setup.sh

# Block .iml files 
*.iml